<?php 
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.9.1
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2016 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
 <?php $bannerSliderImages = $this->getBannerSliders ();?>
<div class="grid_4 latest_offer">
                <div class="latest_offer_slider clearfix">
                    <ul class="bxslider">
                    <?php foreach($bannerSliderImages as $sidebarImage){?>
                    	<li>
                            <div class="latest_offer_img">
              				<img src="<?php echo Mage::getBaseUrl ( 'media' ) . DS . "sliderimages" . DS . "thumbs". DS.$sidebarImage->getFile(); ?>"  alt="<?php echo $sidebarImage->getTitle();?>" title="<?php echo $sidebarImage->getTitle();?>" />                   
                            </div>
                            <div class="latest_offer_description">
                                <p><?php echo $sidebarImage->getTitle();?>
                                    <br />
                                </p>
                                <span><?php echo $sidebarImage->getBannerHtml();?></span>
                                <a href="<?php echo $sidebarImage->getLink();?>" title="order Now" class="button">order Now</a>
                            </div>
					  </li>
                        <?php }?>
                    </ul>
                </div>
 </div>
 
          